
h3 {
  color: #4aaaa5
}
body {
  margin: 0;
  padding: 0;
}
#htmls {
  text-align: right;
  color: gray;
  top: 20px;
  right: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin-right: 100px;
  color: white;
  background-color: #4aaaa5;
  margin: 0;
  width: 240px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18pt;
  padding:30px;
  margin-left: 260px;
  line-height: 1em;
  border-bottom-style: groove;
}
h1,h2 {
  display: inline;
  line-height: 3em;
}

h2 {
  margin: 0;
  text-align: right;
  color: lightgray;
  margin: 0;
  margin-left: 300px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
}

.wrapper {
  width: 750px;
  margin: 0 auto 0 auto;
  padding: 0;
}

#content {
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
  border-style: groove;
  border-width: 1px;
  padding-top: 40px;
}
a:link {
  text-decoration: none ;
}